body {
  margin: 5vh;
  background-image: linear-gradient(to bottom right, rgb(255, 249, 193) , rgb(55, 0, 255));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin-left: 1vw;
}

#title {
  margin: 5vh;
}

input {
  margin-left: 2vh;
}

#root {
  height: 100vh;
  width: 100wh;
}

#triangleContainer {
  height: 650px;
  width: 710px;
  background-color: rgb(0, 0, 0);
  padding: 2vh;
  border-radius: 25px;
  border: 0.5vh solid rgb(68, 68, 68) ;
  text-align: center;
  display: inline-block;
  vertical-align: top; /* here */
}

#formsContainer {
  width: 35vw;
  background-image: linear-gradient(to bottom right, rgb(218, 218, 218) , rgb(43, 43, 43));
  color: aliceblue;
  padding: 2vh;
  border-radius: 25px;
  border: 0.5vh solid rgb(85, 85, 85);
  display: inline-block;
  vertical-align: top; /* here */
  margin-left: 1vw;
}

#forms {
  width: 30vw;
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  padding: 2vh;
  border-radius: 10px;
  border: 0.5vh solid rgb(85, 85, 85);
  display: inline-block;
  vertical-align: top; /* here */
  margin-left: 1vw;
  margin-bottom: 1vh;
}

/* Below are the css for all the dots, including the corner points */
.dot {
  height: 1px;
  width: 1px;
  background-color: rgb(255, 38, 0);
  z-index: 0;
  border-radius: 25px;
}

#top {
  position: absolute;
  height: 2vh;
  width: 2vh;
  background-color: red;
  border-radius: 25px;
}
#left {
  position: absolute;
  height: 2vh;
  width: 2vh;
  background-color: red;
  border-radius: 25px;
}
#right {
  position: absolute;
  height: 2vh;
  width: 2vh;
  background-color: red;
  border-radius: 25px;
}